crash-reports/
defaultconfigs/
disabledmods/
jarmods/
lightspeed-cache/
logs/
modernfix/
patchouli_books/
resourcepacks/
saves/
shaderpacks/
trees/
XaeroWaypoints*/
XaeroWorldMap/

options.txt
patchouli_data.json
usercache.json
usernamecache.json
minecraftinstance.json
.curseclient
