crash-reports/
disabledmods/
jarmods/
lightspeed-cache/
logs/
modernfix/
patchouli_books/
screenshots/
saves/
trees/
XaeroWaypoints*/
XaeroWorldMap/

options.txt
patchouli_data.json
usercache.json
usernamecache.json

minecraftinstance.json
.curselauncher

config/jei/
.curseclient
config/oculus.properties
rhino.local.properties
servers.dat_old
servers.dat
config/oculus.properties
.sl_password
.sl_password
icon.png
config/xaeroworldmap.txt
config/xaeroworldmap.txt
config/xaerominimap_entities.json
config/chiselsandbits-client.toml
config/xaeroworldmap.txt
config/xaeroworldmap.txt
config/xaerominimap_entities.json
config/sound_physics_remastered/soundphysics.properties
config/sound_physics_remastered/reflectivity.properties
config/sound_physics_remastered/occlusion.properties
config/sodium-extra-options.json
config/smoothboot.json
config/sidebar_buttons.json
config/rubidium-options.json
config/reforgium-renderer.properties
config/modernfix-mixins.properties
config/jecalculation/record.json
config/itemphysic.json
config/itemphysic-client.json
config/infinitemusic.toml
config/enhancedvisuals.json
config/enhancedvisuals-client.json
config/craftpresence.json
config/connectedness.json
config/chiselsandbits-common.toml
config/chiselsandbits-client.toml
config/appliedenergistics2/common.json
config/appliedenergistics2/client.json
config/ambientsounds-client.json
config/ambientsounds-client.json
config/appliedenergistics2/client.json
config/appliedenergistics2/common.json
config/chiselsandbits-client.toml
config/chiselsandbits-common.toml
config/connectedness.json
config/craftpresence.json
config/enhancedvisuals-client.json
config/enhancedvisuals.json
config/infinitemusic.toml
config/itemphysic-client.json
config/itemphysic.json
config/jecalculation/record.json
config/modernfix-mixins.properties
config/reforgium-renderer.properties
config/rubidium-options.json
config/sidebar_buttons.json
config/smoothboot.json
config/sodium-extra-options.json
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/sound_physics_remastered/soundphysics.properties
config/xaerominimap.txt
config/xaerominimap_entities.json
config/xaeroworldmap.txt
