crash-reports/
defaultconfigs/
disabledmods/
jarmods/
lightspeed-cache/
logs/
modernfix/
patchouli_books/
resourcepacks/
screenshots/
saves/
shaderpacks/
trees/
XaeroWaypoints*/
XaeroWorldMap/

options.txt
patchouli_data.json
usercache.json
usernamecache.json

minecraftinstance.json
.curselauncher

config/jei/
.curseclient
config/oculus.properties
